<div class="animated fadeIn">
    <h6>Nosotros, sobre nosotros</h6>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Corporis, recusandae repudiandae saepe, sint quasi repellat consectetur voluptatum aspernatur minus quaerat optio. Quis, quisquam ducimus. Sit, et temporibus. Unde, temporibus necessitatibus?</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur odio nam eius accusamus aliquam, repudiandae modi cupiditate, at beatae dignissimos totam repellat itaque quaerat. Doloremque quibusdam similique omnis iste voluptatem?</p>
</div>