<!-- FOOTER MENU -->
<div class="card mifooter" style="background-image: url(../../../assets/img/iron-man.jpg);
padding-top:40px;padding-bottom: 40px;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">
    <div class="card-body" [ngStyle]="{'font-weight': 'bold', 'color': 'white'}">
        <a [routerLink]="['/heroes']"><span [ngStyle]="{'font-weight': 'bold', 'color': 'azure'}">Heroes</span></a>
        <br>
        <a class="" [routerLink]="['/about-us']"><span [ngStyle]="{'font-weight': 'bold', 'color': 'azure'}">Sobre Nosotros</span></a>
    </div>
    <div class="card-body text-light">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>